@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

/*
font-family: 'Noto Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  overflow-x: hidden;
}

/* Scrollbar Design */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #ccc;
}
::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
  border: 1px solid #ccc;
}

@supports (scrollbar-color: #333 #ccc) {
  * {
    scrollbar-color: #333 #ccc;
    scrollbar-width: auto;
  }
}

input,
textarea,
button,
select {
  font: inherit;
}

/* Main Container */

.container {
  width: 77.5em;
  margin: 0 auto;
  min-height: 100vh;
}

.container .loading_container {
  width: 100%;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* logo */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 1.3em;
  color: #bdbdbd;
}

.close_icon {
  cursor: pointer;
  font-weight: 700;
}

.close_icon:hover {
  color: #333;
}

/* /
Form Designing
*/

.main_form_container {
  position: relative;
}

.close_icon {
  position: absolute;
  right: 0;
  top: 0;
}

.main_form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.159375em;
  width: 38.75em;
}

.form_heading {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 33px;
  color: #333;
  margin-bottom: 1.306875em;
}

.input_container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 0.623125em;
  position: relative;
}

.error_message {
  position: absolute;
  top: 1px;
  left: 6em;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: red;
  margin: 0;
}

.cpassword_error_message {
  left: 11em;
}

.form_labels {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 0.87em;
  line-height: 19px;
  color: #4f4f4f;
}

.form_inputs {
  border: 1px solid #ccc;
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
  border-radius: 12px;
  padding: 1.125em;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  line-height: 19px;
  font-size: 0.875em;
  width: 100%;
}

.form_inputs:active {
  border-color: #4f4f4f;
}

.form_submit_btn {
  border: none;
  outline: none;
  background-color: #3db46d;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  padding: 1em 1.25em;
  cursor: pointer;
  margin-left: auto;
}

.form_submit_btn:active {
  transform: translateY(2px) scale(0.98);
}

.footer_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_line_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.footer_line {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 0.87em;
  line-height: 19px;
  color: #4f4f4f;
}

.footer_line span {
  cursor: pointer;
  text-decoration: underline;
}

.footer_line span:hover {
  color: #3db46d;
}

.btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  gap: 1.54625em;
}

.login_register_btn_container {
  display: flex;
  align-items: center;
  width: 100%;
}

.login_register_error_message {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: red;
  line-height: 22px;
}

.cancel_btn {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 22px;
  color: #bdbdbd;
  border: none;
  background: transparent;
  cursor: pointer;
}

/* Loader Component */

.loader {
  width: 38.75em;
  height: 30.75em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* otp verification styling */

.otp_field_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1em;
}

.otp_field {
  border: 1px solid #ccc;
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
  border-radius: 12px;
  padding: 1em;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  line-height: 19px;
  font-size: 1.2em;
  width: 10%;
  text-align: center;
  color: black;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.706875em;
}

.form_sub_heading {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  line-height: 19px;
  font-size: 0.8em;
  color: rgb(64, 64, 64);
}

.verify_heading {
  margin-bottom: 0.206875em;
}

.success_box_container {
  width: 38.75em;
}

.check_icon {
  font-size: 12em;
  color: #3db46d;
}

.success_box_main_child {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.success_heading {
  font-size: 2.5em;
}

.close_btn_success {
  margin: 0;
}

.delete_btn {
  background-color: #eb5757;
}

/* search bar design */
.search_bar_container {
  display: flex;
  align-items: center;
  border: 1px solid #bdbdbd;
  padding: 0.8em;
  gap: 1.2625em;
  border-radius: 12px;
  font-family: "Noto Sans", sans-serif;
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
  z-index: 10;
  position: relative;
}

.search_bar_container input {
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: black;
  background-color: transparent;
}

.data_result {
  background-color: #fff;
  position: absolute;
  top: 125%;
  width: 20em;
  max-height: 21em;
  border-radius: 12px;
  padding: 12px;
  overflow: hidden;
  overflow-y: auto;
  /* display: none; */
}

.data_result::-webkit-scrollbar {
  display: none;
}

.data_result .search_label {
  cursor: pointer;
  padding: 0.7em;
  border-radius: 12px;
}

.data_result .search_label:hover {
  background-color: #ccc;
}

/* /
Responsive Breakpoints
*/

@media screen and (max-width: 1199px) {
  .container {
    width: 57.5em;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    width: 43.5em;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 41.5em;
  }
}

@media screen and (max-width: 479px) {
  .container {
    width: 22.5em;
  }

  .search_bar_container {
    width: 50%;
    margin-left: auto;
  }

  .search_bar_container input {
    width: 100%;
  }

  .logo_search_bar_container {
    flex: 1;
  }

  .data_result {
    width: 23em;
    left: -10em;
  }
  .main_form {
    width: 18.75em;
  }

  .footer_line_container {
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
  }

  .success_box_container {
    width: 18.75em;
  }

  .otp_field {
    width: 20%;
  }
}

@media screen and (max-width: 375px) {
  .container {
    width: 20.5em;
  }

  .data_result {
    width: 21em;
    left: -9em;
  }
}
